body  {
    background-color: rgb(18, 17, 17);
    margin:0;
    padding: 0;
}           
header{   
background: url("/image/mom\ and\ baby.jpg")transparent no-repeat;
background-size:  100% 150%; 
background-position: center;   
padding: 100px;
margin-right: 0px;
height: 400px;
width: 1400px;    
                                       
}
section{
    background:white;
    color:Black;
    font color: Black;
    font-size: 50px;
    padding: 100px;
                                            
}

ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    font-size: 32px;
}
li
{ 
    display: inline-block;
    margin: 0 10px 0 0;
}
      
     