body  {
    background-color: rgb(18, 17, 17);
    margin:0;
    padding: 0;
}           
header{    
    background: url("/image/laptop\ working.jpg")transparent no-repeat;
    background-size:  100% 150%; 
    background-position: center;   
    padding: 100px;
    margin-right: 0px;
    height: 400px;
    width: 1400px;                                  
}
section{
    
      
    background:white;
    color:azure;
    font color: Black;
    padding: 20px;
                                              
}
div{
    background: pink;
   
    width: 200px;               
    font-size: 30px;  
}
ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    font-size: 32px;
}
li
{ 
    display: inline-block;
    margin: 0 10px 0 0;
}
footer{
    background:rgb(230, 236, 238);
    font-size: 50px;        
    padding: 10px 40px 20px 40px;           
}          
            
